Source: meiga
Section: gnome
Priority: optional
Maintainer: Enrique Ocaña González <eocanha@igalia.com>
Build-Depends: debhelper (>= 4), gnome-common, pkg-config, libgtk2.0-dev, libsoup2.4-dev, libdbus-glib-1-dev, libgupnp-1.0-dev, valac (>= 0.5.7)
Standards-Version: 3.7.2
Homepage: http://meiga.igalia.com/

Package: meiga
Architecture: any
Depends: ${shlibs:Depends}, ssh-askpass, openssh-client
Description: Light and easy content server for your desktop
 Meiga shares selected local directories via web and also as
 an RSS feed. It can reconfigure your LAN router using UPnP
 to make the share accessible from the Internet.
